<h1 class="text-3xl my-4 font-semibold text-primary-yellow"># Contact Me</h1>
<form [formGroup]="commentForm" class="flex flex-col items-center justify-center">
  <label class="my-3 w-full text-primary-yellow font-semibold">
    Email:
    <input
      class="w-full bg-primary-yellow/10 outline-none p-2"
      type="email"
      autocomplete="off"
      formControlName="email"
    />
  </label>
  <label class="my-3 w-full text-primary-yellow font-semibold">
    Comment:
    <textarea
      class="w-full bg-primary-yellow/10 outline-none p-2 h-52"
      formControlName="message"
    ></textarea>
    <small>{{commentForm.controls.message.value?.length}}/256</small>
  </label>
  <ngx-recaptcha2
    #captchaElem
    [siteKey]="siteKey"
    [useGlobalDomain]="false"
    formControlName="captcha"
    class="my-3"
  >
  </ngx-recaptcha2>
  <app-button [btnValid]="commentForm.valid" [btnText]="'Send'" (click)="postComment()" />
</form>
