<article class="w-full py-5 my-1">
  <h3 class="mb-3 text-2xl font-semibold text-primary-yellow cursor-pointer">
    # {{ post().title }}
  </h3>
  <div class="mb-3 mt-4 flex gap-2 text-accent/80">
    <time>{{ postCreatedAt().toLocaleDateString("en-GB") }}</time>
    <p>*</p>
    <p>{{ post().minRead }} min read</p>
  </div>
  <p class="my-4 text-accent">{{ post().excerpt }}</p>
  <div class="flex flex-wrap gap-3 text-sm my-4">
    @for (tag of post().tags; track tag) {
      <div
        class="py-1 px-3 bg-accent/1 hover:bg-accent/8 border-1 border-accent/20 text-accent/90 rounded-2xl transition-colors cursor-pointer"
      >
        {{ tag }}
      </div>
    }
  </div>
  <app-button [btnText]="'Read More'" routerLink="/archive/{{ post().slug.current }}" />
</article>
