<button
  type="button"
  [disabled]="!btnValid()"
  class="border-4 border-primary-yellow border-double cursor-pointer flex items-center justify-center gap-2 p-2 hover:bg-primary-yellow/15"
>
  <p class="text-primary-yellow">{{ btnText() }}</p>
  <svg
    class="w-8 h-8 text-primary-yellow"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m7 16 4-4-4-4m6 8 4-4-4-4"
    />
  </svg>
</button>
