<div class="border-1 border-primary-yellow/30 rounded-xl h-1 w-full my-8"></div>
<div class="text-accent flex gap-4 justify-center items-center py-4">
  <div class="cursor-pointer hover:text-primary-yellow" routerLink="/index" routerLinkActive="text-primary-yellow">Home</div>
  <div class="cursor-pointer hover:text-primary-yellow" routerLink="/about" routerLinkActive="text-primary-yellow">About</div>
  <div class="cursor-pointer hover:text-primary-yellow" routerLink="/archive" routerLinkActive="text-primary-yellow">Archive</div>
  <div class="cursor-pointer hover:text-primary-yellow" routerLink="/contact" routerLinkActive="text-primary-yellow">Contact</div>
</div>
<small class="text-accent text-center block w-full">Powered by Angular & Vercel | 🎄2025</small>
