<header class="bg-primary-yellow flex justify-between items-center pr-4">
  <p
    class="p-4 bg-primary-dark w-fit border border-primary-yellow border-solid text-primary-yellow"
  >
    notokkid
  </p>
</header>
<nav class="flex gap-4 py-4">
  @for (route of routes; track route.id) {
    <div
      routerLink="{{route.path}}"
      routerLinkActive="text-white"
      class="nav-item underline underline-offset-2 cursor-pointer text-primary-yellow hover:text-white"
    >
      {{route.id}}.{{ route.label }}
    </div>
  }
</nav>
