<h1 class="text-3xl my-4 font-semibold text-primary-yellow"># About Me</h1>
<section class="py-2 text-accent">
  <p class="my-2">
    Hi! My name's Ivan but I mostly go by
    <span class="bg-primary-yellow p-1 text-primary-dark font-bold">Notokkid</span> online. It's
    what I use on Discord, which is the only place left on the modern web where I have some sort of
    active presence. I really only use it to chat with friends and loved ones.
  </p>
  <p class="my-2">
    I'm a software engineer, mostly focusing on front-end development, but I do enjoy working on
    anything code related. Arduino, games, UIs, anything goes. However, this blog will mostly be
    about the stuff I care about like playing and making video games, football (soccer), and a few
    rants here and there.
  </p>
  <p class="my-2">
    I don't have contact links, mostly because I don't have any active social media accounts.
    Facebook is for old people, and I'm barely 34. Instagram is for people without an attention span,
    abd I never got the hang of Twitter either. You might find me on Discord, but that's about it.
  </p>
</section>
